{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main -->
<main>
    <!-- Section -->
    <section class="py-5 py-lg-8 border-bottom border-gray-100">
        <div class="container">
            <div class="text-center">
                <h1 class="m-0">Explore All Pins</h1>
            </div>
        </div>
    </section>
    <!-- End Section -->
    <!-- Section -->
    <section class="section">
        <div class="container">
            <div class="row">

                <form class="col-lg-3 col-md-4" action="{% url 'pins:explore' %}" method="get">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="m-0">Explore Filter</h6>
                        </div>

                        <div class="card-body">
                            <div class="mb-3">
                                <label class="form-label">Sort by</label>
                                <select name="sort" class="px-nice-select">
                                    <option data-display="Sort by">Sort by</option>
                                    {% for key, value in sort_by.items %}
                                    <option value="{{ value }}">{{ key }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">When created</label>
                                <select name="when_created" class="px-nice-select">
                                    <option data-display="When created">When created</option>
                                    {% for key, value in when_created.items %}
                                    <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>

                            </div>
                            <div class="col-12 pt-3 mb-3">
                                <button class="btn btn-primary w-100 btn-sm" type="submit">Submit</button>
                            </div>

                        </div>
                    </div>
                </form>


                <div class="col-lg-9 col-md-8 mt-5 mt-lg-0">

                    <div class="row gy-4">
                {% for pin in page_obj %}
                    {% include 'pins/explore-pin-tile.html' %}
                {% empty %}
                    <h1>Nothing found</h1>
                {% endfor %}
                    </div>
                    <div class="pt-7">
                        <ul class="pagination justify-content-center m-0">

                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">begin</span>
                                </a>
                            </li>
                            {% endif %}

                            {% for n in page_obj.paginator.page_range %}
                                {% if page_obj.number == n %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                                    </li>
                                {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">end</span>
                                    </a>
                                </li>
                            {% endif %}

{#                            <li class="page-item "><a class="page-link" href="#">Previous</a></li>#}
{#                            <li class="page-item active"><a class="page-link" href="#">1</a></li>#}
{#                            <li class="page-item"><a class="page-link" href="#">2</a></li>#}
{#                            <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#                            <li class="page-item"><a class="page-link" href="#">Next</a></li>#}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->
</main>
<!-- End Main -->
{% endblock %}