{% extends 'base.html' %}
{% block content %}
    {% load static %}

<!-- Main -->
<main>
    <!-- Section -->
    <section class="py-5 py-lg-8 border-bottom border-gray-100">
        <div class="container">
            <div class="text-center">
                <h1 class="m-0">Crete a New Pin</h1>
            </div>
        </div>
    </section>
    <!-- End Section -->
    <!-- Section -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <form action="{% url 'pins:create_pin' %}" method="post" enctype="multipart/form-data">

                        {% csrf_token %}

                        <h6>{{ form.image.label }}</h6>
                        <div class="px-file-upload">
                            {{ form.image }}
                            <label for="px_file" title="No File Choosen">
                                <i class="feather-upload"></i>

                                    <span class="text-center d-inline-block w-100 mb-3">
                                        {{ form.image.errors|default:'PNG, JPG' }}
                                    </span>

                                <span class="btn btn-primary-soft px-input-selected-file">Choose File</span>

                            </label>
                        </div>

                        {% for field in form %}
                            {% if not forloop.first %}

                                <div class="py-3">
                                    <h6>{{ field.label }}</h6>
                                    {{ field }}

                                    {% if field.errors %}
                                        {{ field.errors }}
                                    {% endif %}
                                </div>

                            {% endif %}
                        {% endfor %}

                        <div class="py-3">
                            <button type="submit" class="w-100 btn btn-primary">Create your item</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 mt-5 mt-lg-0">
                    <h6>Preview</h6>
                    <div class="product-card">
                        <div class="product-card-img-box">
                            <a href="#">
                                <img class="product-card-img" src="{% static 'pin.jpg' %}" title=""
                                    alt="">
                            </a>
                        </div>
                        <div class="product-card-body">
                            <div class="product-title mb-3">
                                <h6 class="m-0">
                                    <a class="text-reset stretched-linka" href="#">Your title</a>
                                </h6>
                                <span class="small">Your description</span>
                            </div>
                            <div class="product-actions d-flex align-items-end">
                                <div class="price">
                                    <h6 class="m-0">by {{ request.user.username }} </h6>
                                </div>
                                <div class="like ms-auto">
                                    <a href="#" class="d-flex lh-1 fw-500 text-reset">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart me-1 pink-heart" viewBox="0 0 16 16">
                                          <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                        </svg>
                                        <small>9</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->
</main>
<!-- End Main -->

{% endblock %}