{% load bootstrap_icons %}
<div class="col-md-4 col-sm-6 col-lg-3">
    <div class="product-card">
        <div class="product-card-img-box">
            <a href="{% url 'pins:show_pin' 'pin' pin.pk %}">
                <img class="product-card-img" src="{{ pin.image.url }}"
                    title="" alt="">
            </a>
        </div>
        <div class="product-card-body">
            <div class="product-title mb-3">
                <h6 class="m-0">
                    <a class="text-reset stretched-linka" href="#">{{ pin.title }}</a>
                </h6>
                <span class="small">{{ pin.description|truncatechars:100 }}</span>
            </div>
            <div class="product-actions d-flex align-items-end">
                {% if request.user in pin.liked_users.all %}
                    <div class="like ms-auto">
                        <a href="#" class="d-flex lh-1 fw-500 text-reset" id="likeButton-{{ pin.id }}" onclick="oddLike({{ pin.id }})">
                            {% bs_icon 'heart' extra_classes='me-1 pink-heart' color='pink' %} <small id="like-count-{{ pin.id }}">{{pin.likes}}</small>
                        </a>
                    </div>
                {% else %}
                    <div class="like ms-auto">
                        <a href="#" class="d-flex lh-1 fw-500 text-reset" id="likeButton-{{ pin.id }}" onclick="addLike({{ pin.id }})">
                            {% bs_icon 'heart' extra_classes='me-1 pink-heart' %} <small id="like-count-{{ pin.id }}">{{pin.likes}}</small>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
