{% extends 'base.html' %}
{% block content %}
{% load bootstrap_icons %}
    {% load static %}
<!-- Main -->
<main>
    <!-- Section -->
    <section class="section product-detail-section">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-lg-6 sticky-lg-top sticky-lg-top-header">
                    <div>
                        <img class="rounded-3" src="{{ pin.image.url }}" title="" alt="">
                    </div>
                </div>
                <div class="col-lg-6 ps-xl-7 mt-5 mt-lg-0">
                    <div class="product-details">
                        <div class="pd-heading">
                            <h1 class="m-0 h2">{{ pin.title }}</h1>
                            <div class="pd-heading-right d-flex">

                                {% if request.user in pin.liked_users.all %}
                                <a href="#" class="wishlist-btn" id="likeButton-{{ pin.id }}" onclick="oddLike({{ pin.id }})">
                                            {% bs_icon 'heart' color='pink' %}
                                </a>

                                {% else %}
                                <a href="#" class="wishlist-btn" id="likeButton-{{ pin.id }}" onclick="addLike({{ pin.id }})">
                                            {% bs_icon 'heart' %}
                                </a>
                                {% endif %}

                                {% if pin.creator.pk == request.user.pk %}
                                <div class="dropdown">
                                    <button class="bid-btn dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        {% bs_icon 'three-dots' %}
                                    </button>

                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="{% url 'pins:edit_pin' pin.pk %}">Edit pin</a></li>
                                        <li><a class="dropdown-item" href="{% url 'pins:delete_pin' pin.pk %}">Delete</a></li>
{#                                        <li>#}
{#                                            <hr class="dropdown-divider">#}
{#                                        </li>#}
                                    </ul>
                                </div>
                                {% endif %}

                            </div>
                        </div>
                        <div class="pt-2 pd-meta">
                            <div class="pd-sale-label">Created: <span class="text-mode">{{ pin.created_at }}</span></div>
                            <div class="pd-bid-label">Updated: <span class="text-gradient fw-600">{{ pin.updated_at }}</span></div>
                        </div>

                        {% if pin.description %}
                            <div class="pd-description pt-3">
                                <p>{{ pin.description }}</p>
                            </div>
                        {% endif %}

                        <div class="pd-users pt-3">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="opacity-8">Creator</h6>
                                    <div class="d-flex align-items-center position-relative">
                                        <div class="avatar">
                                            <img class="avatar-img rounded-circle"
                                                src="{% if pin.creator.avatar %}{{ pin.creator.avatar.url }} {% else %} {% static 'img.jpg' %} {% endif %}" title="" alt="">
                                        </div>
                                        <div class="col ps-3">
                                            <h6 class="m-0">
                                                <a class="text-reset stretched-link"
                                                    href="{% url 'users:profile' 'a' pin.creator.pk %}">{{ pin.creator.username }}
                                                </a>
                                            </h6>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->

    {% if creator_pins %}
    <!-- Section -->
    <section class="section border-top border-gray-100">
        <div class="container">
            <div class="row justify-content-center section-heading">
                <div class="col-lg-5 text-center">
                    <h6 class="text-uppercase text-gradient d-inline-block">more pins</h6>
                    <h3 class="h1 m-0"><span class="fw-400">from </span> Author </h3>
                </div>
            </div>

            <div class="row">
            {% for pin in creator_pins %}
                <div class="mb-4 col-sm-6 col-lg-4">
                <div class="product-card m-1">
                    <div class="product-card-user mb-3">
                        <div class="avatar-group">
                            <div class="avatar avatar-xs">
                                <a href="{% url 'users:profile' 'a' pin.creator.pk %}" data-bs-toggle="tooltip" data-bs-original-title="{{ pin.creator.username }}">
                                    <img class="avatar-img rounded-circle" src="{% if pin.creator.avatar %}{{ pin.creator.avatar.url }} {% else %} {% static 'img.jpg' %} {% endif %}"
                                        title="" alt="">
                                    <div class="avatar-status text-primary border-0">
                                        <i class="bi bi-check-circle-fill"></i>
                                    </div>
                                </a>
                            </div>

                        </div>
                        {% if pin.creator.pk == request.user.pk %}
                        <div class="dropdown">
                            <button class="bid-btn avatar avatar-xs dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% bs_icon 'three-dots-vertical' %}
                            </button>

                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="{% url 'pins:edit_pin' pin.pk %}">Edit pin</a></li>
                                    <li><a class="dropdown-item" href="{% url 'pins:delete_pin' pin.pk %}">Delete</a></li>
            {#                        <li>#}
            {#                            <hr class="dropdown-divider">#}
            {#                        </li>#}
                                </ul>
                        </div>
                        {% endif %}

                    </div>
                    <div class="product-card-img-box">
                        <a href="{% url 'pins:show_pin' 'a' pin.pk %}">
                            <img class="product-card-img" src="{{ pin.image.url }}" title="" alt="">
                        </a>
                    </div>
                    <div class="product-card-body">
                        <div class="product-title mb-3">
                            <h6 class="m-0">
                                <a class="text-reset stretched-linka" href="{% url 'pins:show_pin' 'a' pin.pk %}">{{ pin.title }}</a>
                            </h6>
                            <span class="small">{{ pin.description|truncatechars:100 }}</span>
                        </div>
                        <div class="product-actions d-flex align-items-end">

                            {% if current_user in pin.liked_users.all %}
                                <div class="like ms-auto">
                                    <a href="#" class="d-flex lh-1 fw-500 text-reset" id="likeButton-{{ pin.id }}" onclick="oddLike({{ pin.id }})">
                                        {% bs_icon 'heart' extra_classes='me-1 pink-heart' color='pink' %} <small id="like-count-{{ pin.id }}">{{pin.likes}}</small>
                                    </a>
                                </div>
                            {% else %}
                                <div class="like ms-auto">
                                    <a href="#" class="d-flex lh-1 fw-500 text-reset" id="likeButton-{{ pin.id }}" onclick="addLike({{ pin.id }})">
                                        {% bs_icon 'heart' extra_classes='me-1 pink-heart' %} <small id="like-count-{{ pin.id }}">{{pin.likes}}</small>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                </div>
            {% endfor %}
            </div>

        </div>
    </section>
    <!-- End Section -->
    {% endif %}

</main>
<!-- End Main -->
{% endblock %}
